{{page-title "Search"}}

<form>
  <SearchInput
    @label="Search"
    @value={{this.q}}
    @onChange={{this.handleSearch}}
  />

  <LinkTo
    @route={{route-name}}
    @query={{this.defaults}}
  >
    reset
  </LinkTo>
</form>

<DebugFilters @query={{this.q}} @filters={{this.f}} />

<nav aria-label="search result types">
  <LinkTo @route="search.foo">Foo</LinkTo>
  <LinkTo @route="search.bar">Bar</LinkTo>
</nav>

{{outlet}}