{{page-title "Search"}}

<form>
  <SearchInput
    @label="Search"
    @value={{this.q}}
    @onChange={{this.handleSearch}}
  />
  <LinkTo @route="search" @query={{this.defaults}}>reset</LinkTo>
</form>

<nav aria-label="search result categories">
  <LinkTo @route="search.foo">Foo</LinkTo>
  <LinkTo @route="search.bar">Bar</LinkTo>
</nav>

{{outlet}}