{{page-title "Search"}}

<form>
  <SearchInput
    @label="Search"
    @value={{this.q}}
    @onChange={{this.handleSearch}}
  />
  <LinkTo @route="search" @query={{this.defaults}}>reset</LinkTo>
</form>

<nav aria-label="search results">
  <LinkTo @route="search.filter" @models={{array "foo"}}>Foo</LinkTo>
  <LinkTo @route="search.filter" @models={{array "bar"}}>Bar</LinkTo>
</nav>

{{outlet}}