{{page-title "Search"}}

<form>
  <SearchInput
    @label="Search"
    @value={{this.q}}
    @onChange={{this.handleSearch}}
  />
  <LinkTo
    @route="search.filter"
    @models={{array this.type}}
    @query={{this.defaults}}
  >
    reset
  </LinkTo>
  {{log this.defaults}}
</form>

<DebugFilters @query={{this.q}} @filters={{this.f}} />

<nav aria-label="search result types">
  <LinkTo @route="search.filter" @models={{array "foo"}}>Foo</LinkTo>
  <LinkTo @route="search.filter" @models={{array "bar"}}>Bar</LinkTo>
</nav>

{{outlet}}